html, body {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

a {
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #e6be76;
}

a:active {
  color: slategray;
}

header {
  height: 50px;
  z-index: 999;
  background: #ffd89b;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#19547b), to(#ffd89b));
  background: linear-gradient(to right, #19547b, #ffd89b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  line-height: 48px;
}

header img {
  width: 50px;
  float: left;
  margin-left: 2px;
  margin-right: 12px;
}

header nav {
  float: left;
  color: white;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li.menu-item {
  float: left;
  margin-right: 24px;
}

header div.top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
}

header div.top img {
  width: 50px;
  opacity: 0.4;
}

article {
  height: 2000px;
  background: lightblue;
}

article div.space {
  height: 50px;
  background: #c4c08a;
  position: relative;
}

article div.space div.rect {
  width: 70px;
  height: 70px;
  margin: 0;
  padding: 0;
  background: #c4c08a;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 15px;
  left: 47%;
}

article section.about {
  height: 700px;
  background-image: url("./img/team.jpg");
  background-size: cover;
  position: relative;
}

article section.about div.cover {
  height: 100%;
  background: rgba(121, 117, 117, 0.637);
}

article section.about img {
  width: 200px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 35%;
  left: 50%;
}

article section.about div.container {
  width: 100%;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 70%;
  left: 50%;
  color: white;
}

article section.about div.container p#about-url {
  font-size: 1rem;
  letter-spacing: 10px;
}

article section.about div.container p#about-name {
  font-size: 2rem;
  letter-spacing: 50px;
}

article section.activities {
  height: 500px;
  background: white;
  padding: 250px 100px 100px 100px;
}

article section.activities div.container p {
  margin: 0;
  text-align: center;
}

article section.activities div.container p.activ {
  margin-bottom: 50px;
}

article section.activities div.container p.activ-title {
  font-size: 3rem;
  font-weight: 600;
}

article section.activities div.container p.activ-disc {
  font-size: 1.1rem;
}

article section.activities div.container div.activ-problem {
  margin-bottom: 46px;
  font-size: 0.8rem;
  color: rgba(112, 128, 144, 0.829);
}

article section.activities div.container div.activ-problem p {
  margin-bottom: 12px;
}

article section.activities div.container p.activ-intro {
  margin: 0 auto;
  font-size: 0.9rem;
}

article section.activities-detail {
  height: 1000px;
  padding-bottom: 100px;
  background: white;
}

article section.activities-detail div.activ-detail-title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

article section.activities-detail div.container {
  margin: 100px auto 0 auto;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: white;
  text-align: center;
  /*
            ul.activ-card{
                list-style : none;
                margin : 0;
                padding : 0;

                li.activ-card-list {
                    float : left;

                    div.card {
                        width: 240px;
                        height: 300px;
                        margin-right : 60px;
                        background: silver;
                    }
                }
            }
            */
}

article section.activities-detail div.container div.card {
  width: 260px;
  height: 340px;
  -webkit-box-shadow: 3px 3px 2px 1px rgba(143, 140, 140, 0.521);
          box-shadow: 3px 3px 2px 1px rgba(143, 140, 140, 0.521);
  border-radius: 10px;
  margin-bottom: 48px;
  background: white;
}

article section.activities-detail div.container div.card div.card-img {
  height: 180px;
  border-radius: 10px 10px 0 0;
}

article section.activities-detail div.container div.card div.card-recruit {
  width: 90%;
  margin: 8px auto;
  padding-bottom: 8px;
  border-bottom: 3px dotted slategray;
}

article section.activities-detail div.container div.card div.card-title {
  margin-bottom: 6px;
  font-size: 1.25rem;
  font-weight: 200;
}

article section.activities-detail div.container div.card div.card-disc {
  font-size: 0.8rem;
  padding: 0 12px;
  text-align: justify;
}

article section.activities-detail div.container div#card-1 > .card-img {
  background: url("https://www.weetechsolution.com/upload/Evolution-of-Swift-in-iOS-Apps-development.png");
  background-size: cover;
  background-position: center center;
}

article section.activities-detail div.container div#card-2 > .card-img {
  background: url("https://cdn-images-1.medium.com/max/2600/1*AUiK5PwnsPG_xaT9jcVoSA.jpeg");
  background-size: cover;
  background-position: center center;
}

article section.activities-detail div.container div#card-3 > .card-img {
  background: url("https://github.com/swess15/ids-git-study/blob/master/thumbnail.PNG?raw=true");
  background-size: cover;
  background-position: center center;
}

article section.activities-detail div.container div#card-4 > .card-img {
  background: url("https://github.com/incheonjs/react-material-admin-template-one/raw/master/preview.png");
  background-size: cover;
}

article section.activities-detail div.container div#card-5 > .card-img {
  background: url("https://incheon.devs.co.kr/static/media/study.2e6f69e7.png");
  background-size: cover;
  background-position: center center;
}

article section.activities-detail div.container div#card-6 > .card-img {
  background: url("http://devs.co.kr/blog/wp-content/uploads/2019/02/RDB-Quick-Study.png");
  background-size: contain;
  background-position: center center;
}

article section.activities-detail div.container div#card-7 > .card-img {
  background: url("http://devs.co.kr/blog/wp-content/uploads/2019/02/HTML-Layout-Study.png");
  background-size: contain;
  background-position: center;
}

article section.members {
  height: 500px;
  background: darkkhaki;
}

article section.contact {
  height: 500px;
  background: darkgray;
}
/*# sourceMappingURL=main.css.map */